header{
  display:flex;
  border-bottom: 1px solid seashell;
  height:69px;
  background-color: black;
  opacity:0.9;
  align-items: center;
}

#logo{
  display: flex;
  flex-grow: 1;
  opacity:0.9;
  height:69px;
  border-bottom: 1px solid seashell;
}

nav span a{
  text-decoration: underline;
  color:white;
  font-family: Helvetica;
  font-size: 22px;
  padding:10px 10px;
  text
}

img{
  margin-left: 10px;
  font-size: 50px;
}

#insec{
  display:flex;
  border:1px solid;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

}

#first{
  border:1px solid;
  display: flex;
  height:700px;
  width:1200px;
  margin:0 auto;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
}


#insec1{
  display: flex;
  align-items: center;
  border:1px solid;
  justify-content:center;
  width:100%;
  background-color: black;
  flex-direction: column;
}

#insec1 h4{
  font-family: Helvetica;
  font-size: 22px;
  color: white;
  display:block;
  margin:5px;
  padding-top: 10px;
}

#insec1 h2{
  font-family: Helvetica;
  font-weight:bold;
  font-size:30px;
  color:white;
  display:block;
  margin:5px;
}

#second{
  display:flex;
  border:1px solid;
  width:1500px;
  height:700px;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-direction: column;
}

.fall,.spiced,.seasonal,.myrtie,.bedford
{
  width:300px;
  height:200px;
  border: 1px solid;
  display: inline-block;
  align-items: center;
  margin:10px;
}

#sec3{
  border: 1px solid;
  display:flex;
  width:1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.wrap{
  display: flex;
  border:
  1px solid red;
  flex-direction: column;
}

#second span{
  font-size: 22px;
  font-weight: bold;
  font-family: helvetica;
  text-align: center;
  display: block;
  padding:10px;
  margin:-5px;
}

 #second #head{
  font-size: 30px;
  font-weight: bolder;
  font-family: helvetica;
}

.fall {
  background-image: url("../images/img-berryblitz.png");
}

.spiced{
  background-image: url("../images/img-spiced-rum.png");
}
.seasonal{
  background-image: url("../images/img-donut.png");
}

.myrtie{
  background-image: url("../images/img-myrtle-ave.png");
}

.bedford{
  background-image: url("../images/img-bedford-bizarre.png");
}
