header{
  display:flex;
  border-bottom: 1px solid seashell;
  height:69px;
  background-color: black;
  opacity:0.9;
  align-items: center;
}

#logo{
  display: flex;
  flex-grow: 1;
  opacity:0.9;
  height:69px;
  border-bottom: 1px solid seashell;
}

nav span a{
  text-decoration: underline;
  color:white;
  font-family: Helvetica;
  font-size: 22px;
  padding:10px 10px;
  text
}

img{
  margin-left: 10px;
  font-size: 50px;
}

#insec{
  display:flex;
  border:1px solid;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

section{
  border:1px solid;
  display: flex;
  height:700px;
  width:1200px;
  margin:0 auto;

}


#insec1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid;
}

#insec1 h2, #insec1 h4{

}
